<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/master">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>



</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <div id="container"
             style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
<!--    <script-->
<!--            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script th:src="@{/web/js/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Latest compiled and minified JavaScript -->
<!--    <script-->
<!--            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script th:src="@{/web/js/bootstrap.min.js}"></script>
    <script th:src="@{/web/chart.js}"></script>
    <script th:inline="javascript">
        $(function(){
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Revenue statistics by date'
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    categories: [[${datechart.keySet()}]],
                },
                yAxis: {
                    title: {
                        text: 'Dollar($)'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}$'
                        }
                    }
                },
                tooltip: {
                    enabled:false
                },

                series: [
                    {

                        data: [[${datechart.values()}]]
                    }
                ],
                drilldown: {
                    series: [
                        {
                            data: [[${datechart.values()}]]
                        }
                    ]
                }
            });
        });
    </script>
</div>
</body>
</html>