<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/master">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card-header">
        <i class="fas fa-table"></i>
        List Bill
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                           role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <tr align="center">
                            <th rowspan="1" colspan="1">ID</th>
                            <th rowspan="1" colspan="1">Name</th>
                            <th rowspan="1" colspan="1">Email</th>
                            <th rowspan="1" colspan="1">Date</th>
                            <th rowspan="1" colspan="1">Total</th>
                            <th rowspan="1" colspan="1">Address</th>
                            <th rowspan="1" colspan="1">Status</th>
                            <th></th>
                        </tr>
                        <tr role="row" class="odd" th:each="item : ${bill}">
                            <td class="sorting_1" th:text="${item.id}"></td>
                            <td th:text="${item.customer.name}"></td>
                            <td th:text="${item.customer.email}"></td>
                            <td th:text="${item.orderdate}"></td>
                            <td th:text="${item.total}"></td>
                            <td th:text="${item.address}"></td>
                            <td th:if="${item.status==1}" >Chờ xác nhận</td>
                            <td th:if="${item.status==2}" >Đã xác nhận</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        th:data-target="${'#modal'+item.id}">
                                    <i class="far fa-check-circle"></i>
                                </button>
                            </td>


                            <!-- Modal -->
                            <div class="modal fade" th:id="${'modal'+item.id}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            are you sure?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <a th:href="@{'/admin/bill/update/'+${item.id}}" class="btn btn-primary"><i class="far fa-check-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>