<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/master">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript">
        function encodeImageFileAsURL(element) {
            var file = element.files[0];
            if(file===undefined){
                $('#preview-img').attr('src');
                return false;
            }
            var reader = new FileReader();
            reader.onloadend = function(){
                $('#preview-img').attr('src',reader.result)
            }
            reader.readAsDataURL(file);
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/admin/product/saveOrUpdate}" method="post" th:object="${product}" enctype="multipart/form-data">
        <div class="form-group">
            <div th:if="${id>0}">
            <label for="exampleInputEmail1">Id</label>
            <input type="text" th:field="*{id}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Category</label>
            <select th:field="*{category.id}">
                <option th:each="item:${category}" th:value="${item.id}" th:utext="${item.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > </label>
            <div class="col-sm-9">
                <img width="150px" height="150px" id="preview-img" src="" />
            </div>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" id="file" name="file" class="form-control" onchange="encodeImageFileAsURL(this)">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Quantity</label>
            <input type="text" th:field="*{quantity}" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="text" th:field="*{price}" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Manufactured Date</label>
            <input type="text" th:field="*{manufacturedDate}" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <input type="text" th:field="*{description}" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Status</label>
            <input type="text" th:field="*{status}" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/admin/product/listproduct}">List Product</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>